<form action="/people" method="post">
  <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %>>
  <label>What's your name</label>
  <input type="text" name="person[name]">
  <select name="person[city_id]">
    <% City.all.each do |city| %>
      <option value=<%= city.id %>><%= city.name %></option>
    <% end %>
  </select>
  <input type="submit">
</form>