<form action="/people" method="post">
  <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %>>
  <label>What's your name</label>
  <input type="text" name="person[name]">
  <%= collection_select(:person, :city_id, City.all, :id, :name) %>
  <input type="submit">
</form>